* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--light-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

p {
    margin: .5rem 0;
}