.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.category {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.6rem;
    color: var(--light-color);
    font-size: 0.55rem;
    text-transform: uppercase;
    border-radius: 0.5rem;


    &.category-sports {
        background-color: var(--sports-color);
    }

    &.category-ent {
        background-color: var(--ent-color);
    }

    &.category-tech {
        background-color: var(--tech-color);
    }
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    background: var(--dark-color);
    color: var(--light-color);
    transition: opacity 0.3s ease;

    &.btn-light {
        background: var(--light-color);
        color: var(--dark-color);
    }

    &.btn-primary {
        background: var(--primary-color);
    }

    &.btn-secondary {
        background: var(--secondary-color);
    }

    .btn-block {
        display: block;
        width: 100%;
        text-align: center;
    }

    &:hover {
        opacity: 0.9;
    }
}

.card {
    background: white;
    padding: 1rem;
}

.bg-dark {
    background: var(--dark-color);
}

.bg-primary {
    background: var(--primary-color);
}

.bg-secondary {
    background: var(--secondary-color);
}

[class*="bg-"],
[class*="bg-"] a,
[class*="bg-"] h1,
[class*="bg-"] h2,
[class*="bg-"] h3,
[class*="bg-"] h4,
[class*="bg-"] h5 {
    color: var(--light-color);
}

.py-1 {
    padding: 1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.list li {
    width: 90%;
    padding: .5rem 0;
    border-bottom: 1px dotted #555;

    & a:hover {
        color: var(--primary-color) !important;
        transition: color 0.3s ease;
    }
}